.main-page{
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  height: 100vh;
  align-items: center;
}

#header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#headerLogo{
  height: 20vh;
  min-height: 150px;
  width: 80%;
  background-color: #1d1d1d;
  margin: 0;
}

#welcomeMat{
width: 60vw;
max-width: 500px;
height: 20vh;
min-height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
}


#welcome{
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-align: center;
}

#welcomeButtons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#registerButton{
width: 60%;
margin-bottom: 25px;
font-family: 'akzidenz-grotesk-roman', Arial, Helvetica, sans-serif;
}

#loginButton{
  margin-bottom: 25px;
  width: 60%;
  font-family: 'akzidenz-grotesk-roman', Arial, Helvetica, sans-serif;
}