<mat-card id="editMat" style="display: flex; flex-direction: column;">
  <div id="editHeader">
    <h1 id="editTitle">Edit Profile</h1>
  </div>
  <mat-card-actions>
    <form id="editForm">
      <mat-form-field>
        <input 
        matInput [(ngModel)]="user.username" placeholder="Username" type="text" name="Username">
      </mat-form-field>
      <mat-form-field>
        <input 
        matInput
        required
        [(ngModel)]="user.password" placeholder="Password" type="password" name="Password"
        >
      </mat-form-field>
      <p id="passwordWarning" style="font-size: 10px;">Note: A new password is required to update email/username</p>
      <mat-form-field>
        <input 
        matInput [(ngModel)]="user.email" placeholder="Email" type="email" name="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="user.birthday" placeholder="Birthday" type="date" name="Birthday">
    </mat-form-field>
      <div>
        <button
          id="completeEdit"
          mat-raised-button
          color="primary"
          (click)="editUser()"
          >
          Update
        </button>
      </div>
    </form>
  </mat-card-actions>
</mat-card>

