<app-navbar></app-navbar>
<div style="margin-top: 75px; width: 80%">
  <mat-card>
    <mat-card-content>
      <mat-card-header>
        Profile
      </mat-card-header>
      <mat-card-subtitle>myInfo</mat-card-subtitle>
      <p>Username: {{user.Username}}</p>
      <p>Email: {{user.Email}}
      </p>
      <p>Birthday: {{user.Birthday}}</p>
      <mat-card-subtitle>myFavorites</mat-card-subtitle>
      <button 
        mat-raised-button
        color="primary"
        *ngFor="let filteredFavorite of filteredFavorites;" 
        style="height: 40px; padding-left: 10px; padding-right: 10px; width: 100px;"
        >
        {{filteredFavorite.Title}}
      </button>
  </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      Update Profile
    </mat-card-header>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="openEditProfileDialog(user.Username, user.Email)"
          >
        Edit Profile
          </button>

      <button
        mat-raised-button
        color="accent"
        (click)="openDeleteProfileDialog(user.Username)">Delete Profile</button>
    </mat-card-actions>
  </mat-card>
</div>