<app-navbar></app-navbar>
<div id="profileContainer">
  <mat-card id="profile">
    <mat-card-content>
      <h1 class="profileHeader">
        Profile
      </h1>
      <h2 class="subtitle">myInfo</h2>
      <p class="formItem"><span class="formName"  style="margin-right: 25px;">Username: </span>{{user.Username}}</p>
      <p class="formItem"> <span class="formName" style="margin-right: 84px;">Email: </span>{{user.Email}}
      </p>
      <p class="formItem"><span class="formName" style="margin-right: 41px;">Birthday: </span>
        <span>{{user.Birthday}}</span>
      </p>
      <h2 class="subtitle">myFavorites</h2>
      <button 
        mat-raised-button
        color="primary"
        class="favoriteMovie"
        *ngFor="let filteredFavorite of filteredFavorites;" 
        style="height: 40px; padding-left: 10px; padding-right: 10px;"
        (click)="favClick(filteredFavorite._id)"
        >
        {{filteredFavorite.Title}}
      </button>
  </mat-card-content>
  </mat-card>
  <mat-card id="updateProfileContainer">
    <h1 class="profileHeader">
      Update Profile
    </h1>
    <mat-card-actions id="updateProfileActions">
      <button
      class="updateButton"
        mat-raised-button
        color="primary"
        (click)="openEditProfileDialog(user.Username, user.Email)"
          >
        Edit Profile
          </button>

      <button
      class="updateButton"
        mat-raised-button
        color="accent"
        (click)="openDeleteProfileDialog(user.Username)">Delete Profile</button>
    </mat-card-actions>
  </mat-card>
</div>