<div style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto; margin-top: 75px; min-width: 400px;">
      <mat-card-header style="height: 60px">
      <mat-card-title>{{movie.Title}}</mat-card-title>
      </mat-card-header>
      <img src={{movie.ImagePath}} style="height: 400px" alt= {{movie.Title}} />
      <mat-card-actions>
          <button
              mat-raised-button
              color="primary"
              (click)="openGenreViewDialog(movie._id, movie.Genres)"
          >
              Genres
          </button>
          <button
              mat-raised-button
              color="accent"
              (click)="openDirectorViewDialog(movie.Directors.Name, movie.Directors.Bio)"
          >
              Directors
        </button>
        <button
              mat-raised-button
              color="primary"
              (click)="openDescriptionDialog(movie.Description)"
          >
              Description
          </button>
          <mat-icon>favorite_border</mat-icon>
      </mat-card-actions>
  </mat-card>
</div>
<div style="display: flex; flex-direction: row; vertical-align: middle;">
  <p>Scroll to view more</p> <mat-icon>arrow_right_alt</mat-icon>
</div>