@font-face {
  font-family: 'Druk';
  src: url(../Druk-Wide-Bold.ttf);
}


@font-face {
  font-family: 'druk-wide-medium-regular';
  src: url(../Druk-Wide-Medium-Regular.ttf);
}

@font-face {
  font-family: 'druk-super-cy-gr-web';
  src: url(../DrukCond-Super-Cy-Gr-Web.ttf);
}

@font-face {
  font-family: 'druk-superitalic-web';
  src: url(../DrukText-SuperItalic-Web.ttf);
}

@font-face {
  font-family: 'druk-wide-heavy';
  src: url(../DrukWide-Heavy.ttf);
}

@font-face {
  font-family: 'akzidenz-grotesk-black';
  src: url(../Akzidenz-grotesk-black.ttf);
}


@font-face {
  font-family: 'akzidenz-grotesk-bold';
  src: url(../Akzidenz-grotesk-bold.ttf);
}

@font-face {
  font-family: 'akzidenz-grotesk-light';
  src: url(../Akzidenz-grotesk-light.ttf);
}

@font-face {
  font-family: 'akzidenz-grotesk-roman';
  src: url(../Akzidenz-grotesk-roman.ttf);
}

#footerContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  height: 100px;
  bottom: 0;
  background-color: #181818;
  position: fixed;
  width: 100%;
}
