#registerMat{
  width: 40vw;
  max-width: 280px;
}

#registerHeader{
  width: 100%;
  margin-bottom: 15px;
}

#signUpTitle{
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-align: center;
  margin: 0;
}

#registerForm{
display: flex;
flex-direction: column;
}

#completeRegistration{
  margin-bottom: 25px;
  width: 60%;
  font-family: 'akzidenz-grotesk-roman', Arial, Helvetica, sans-serif;
}