<div style="display: flex;">
  <mat-card id="directorMat">
    <div id="directorHeader">
      <h1 id="directorTitle">Directors</h1>
    </div>
      <mat-card-content>
          <div id="director" style="flex: 1 1 auto;" *ngFor="let filteredDirector of filteredDirectors" >
            <p id="directorName">{{filteredDirector.Name}}</p>
            <p  id="birthDeath">{{filteredDirector.Birth}} - {{filteredDirector.Death}}</p>
            <p id="directorDescription">{{filteredDirector.Bio}}</p>
        </div>
      </mat-card-content>
  </mat-card> 
</div>
