#descriptionMat{
  max-width: 400px;
}

#descriptionHeader{
  width: 100%;
}

#descriptionTitle{
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-align: left;
  margin: 0;
  margin-bottom: 15px;
  color: rgb(63,81,181);
}

#movieDescrition{
  font-family: 'akzidenz-grotesk-roman', Arial, Helvetica, sans-serif;
}